.Comment .ment1{
    width: 31.125rem;
    height: 4.813rem;
    font-family: Inter;
    font-size: 4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Comment .ment2{
    width: 44.688rem;
    height: 4.813rem;
    font-family: Inter;
    font-size: 4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}