.ExamplePictures{
    display: flex;
}

.ExamplePictures .cartoon{
    width: 18.75rem;
    height: 18.75rem;
    margin: 3.938rem 7.688rem 0.875rem 5.125rem;
    padding: 4.563rem 2.5rem 1.063rem 3.125rem;
    object-fit: contain;
    border-radius: 100px;
    text-align: center;
    font-size: 3rem;
}

.ExamplePictures .caricature{
    width: 18.75rem;
    height: 18.75rem;
    margin: 3.938rem 7.688rem 0.875rem 5.125rem;
    padding: 4.563rem 2.5rem 1.063rem 3.125rem;
    object-fit: contain;
    border-radius: 100px;
    text-align: center;
    font-size: 3rem;
}

.ExamplePictures .anime{
    width: 18.75rem;
    height: 18.75rem;
    margin: 3.938rem 7.688rem 0.875rem 5.125rem;
    padding: 4.563rem 2.5rem 1.063rem 3.125rem;
    object-fit: contain;
    border-radius: 100px;
    text-align: center;
    font-size: 3rem;
}